div#free-lancer {
    text-align: center;
    
}

h1 {
    text-align: center;
}
p {
    text-align: center;
}
div.free {
    
    border: solid  blue;
    
    
    
    
}
body {
    background-color: burlywood;
}